*{
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
    color: white;
}

body{
    min-height: 100vh;
    width: 100%;
    background-color: #f1f5f9;
}

:root{
    --main-sideBar-color: #3f3f46; /*Sidebar background and buttons color*/

}


.first-container{
    height: 100%;
    width: 100%;
    display: flex;
}

.sideBar-container{
    background-color: var(--main-sideBar-color);
    height: 100vh;
    width: 20vw;
    padding: 8px;
}

.mainSection-container{
    background-color: #f1f5f9;
    height: 100vh;
    width: 100vw;
}

.header-flex{
    padding: 5px;
    display: flex;
    font-family: 'Eczar', serif;
    justify-content: space-around;
    align-items: center;
}

.flex-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#font-size{
    font-size: 20px;
    position: relative;
    left: 5px;
}

#pFont_size{
    font-size: 12px;
}

img[src="Home_20by20.png"]:hover{
    color: white;
}
