*{
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
    color: white;
}

body{
    min-height: 100vh;
    width: 100%;
    background-color: #f1f5f9;
}

:root{
    --main-sideBar-color: #1f2937; /*Sidebar background and buttons color*/

}


.first-container{
    height: 100%;
    width: 100%;
    display: flex
}

.sideBar-container{
    background-color: var(--main-sideBar-color);
    height: 100vh;
    width: 20vw;
}

.mainSection-container{
    background-color: #f1f5f9;
    height: 100vh;
    width: 100vw;
}

.header-flex{
    display: flex;
    padding: 15px;
    font-family: 'Eczar', serif;
    justify-content: space-around;
}

#font-size{
    font-size: 20px;
}

img[src="food-delivery-app-phone-smartphone-pngrepo-com.png"]{
    height: 50px;
    width: 50px;
}