*{
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
    color: white;
}

body{
    min-height: 100vh;
    width: 100%;
    background-color: #f1f5f9;
}

:root{
    --main-sideBar-color: #3f3f46; /*Sidebar background and buttons color*/

}

.first-container{
    height: 100%;
    width: 100%;
    display: flex;
}

.sideBar-container{
    background-color: var(--main-sideBar-color);
    height: 100vh;
    width: 20vw;
    padding: 8px;
}

.mainSection-container{
    background-color: #f1f5f9;
    height: 100vh;
    width: 100vw;
}

.header-flex{
    padding: 5px;
    display: flex;
    font-family: 'Eczar', serif;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 15px;
}

.flex-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#font-size{
    font-size: 30px;
    position: relative;
    left: 5px;
}



.links{
    font-size: 20px;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;

}

li{
    display: grid;
    grid-template-columns: 35px 35px;
    column-gap: 5px;
}
